<section class="form-reset-pwd">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <form>
                        
                      <div class="signup-box-wrapper">
                          <h3>Reset Password</h3>
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control" name="usrnme" placeholder="Email"/>
                                </div>
                                <div class="reset-info">
                                    <p>Please enter your email below. We will email you a link that will allow you to reset your password.</p>
                                    <p>Note: it may take a few minutes for you to receive this email.</p>
                                </div>
                        </div>
                            <div class="btn-proceed">
                                <button type="submit" class="form-control"> SUBMIT</button>
                            </div>
                    </form>
               
            </div>
        </div>
    </div>
    </section>