<section class="form-reset-pwd">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">                 
                      <div class="signup-box-wrapper">
                          <h3>Reset Password</h3>
                                <div class="form-group mb-3">
                                 <input type="email" class="form-control" formControlName="emailAddress" placeholder="Email"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
                                <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailAddress.errors.required">Email is required</div>
                                    <div *ngIf="f.emailAddress.errors.email">Please enter vaild email address</div>
                                </div>
                                 </div>
                                <div class="reset-info">
                                    <p>Please enter your email below. We will email you a link that will allow you to reset your password.</p>
                                    <p>Note: it may take a few minutes for you to receive this email.</p>
                                </div>
                        </div>
                            <div class="btn-proceed">
                                <button type="submit" class="form-control"> SUBMIT</button>
                            </div>
                    </form>               
            </div>
        </div>
    </div>
    </section>