/frontend/node_modules
/backend/Common/obj
/backend/Common/bin
/backend/WinkNaturals/obj
/backend/WinkNaturals/bin
/backend/WinkNatural.Common/obj
/backend/WinkNatural.Common/bin
/backend/WinkNatural.Services/obj
/backend/WinkNatural.Services/bin
/backend/.vs
/backend/WinkNatural.Model/bin/Debug/net5.0
/backend/WinkNatural.Model/obj/Debug/net5.0
/backend/WinkNatural.Model/obj
/backend/WinkNaturals/internalLog.txt
