<section class="shop-banner">
    <div class="container-banner">
        <div class="content-banner">
            <h3>bath Sale Today Only!</h3>
            <p>Dolor sit amet, consetetur sadipscing elitr, sed diam</p>
            <p><a href="#" class="btn btn-blue">Learn More</a></p>
        </div>
    </div>
    <div class="product-filters">
        <form class="form-inline">
            <div class="form-group">
                <i class="fas fa-caret-down"></i>
                <select class="form-control">
                    <option>Select Category</option>
                    <option>Age 3+</option>
                    <option>Age 6+</option>
                    <option>Age 12+</option>
                    <option>Age 12+</option>
                    <option>Men</option>
                    <option>Women</option>
                </select>
            </div>
            <div class="form-group select-filters">
                <i class="svg-ico">
                    <svg id="filter_list-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path id="Path_2090" data-name="Path 2090" d="M0,0H24V24H0Z" fill="none"/>
                        <path id="Path_2091" data-name="Path 2091" d="M11,18h2a1,1,0,0,0,0-2H11a1,1,0,0,0,0,2ZM3,7A1,1,0,0,0,4,8H20a1,1,0,0,0,0-2H4A1,1,0,0,0,3,7Zm4,6H17a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z" fill="rgba(0,0,0,0.87)"/>
                      </svg>
                      
                </i>
                <select class="form-control">
                    <option>Filters</option>
                    <option>Age 6+</option>
                    <option>Age 12+</option>
                    <option>Age 12+</option>
                    <option>Men</option>
                    <option>Women</option>
                </select>
            </div>  
        </form>
    </div>
</section>


<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>All Products</h3>
            </div>
        </div>
        <div class="row mt-5 prod-wrapp">
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 prod-list-item">
                <div class="card">
                    <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                    <div class="card-body">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="reviews-product">
                                <ul>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    <li><img src="../../assets/star-solid.png"/></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                                  </div>
                                  <div class="prod-price">
                                      <span class="price-value">$24.77</span>
                                  </div>
                                      <span class="more-info">
                                          <a href="#" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                      </span>
                        </div>
                     
                    </div>
                  </div>
            </div>
          
        </div>
    </div>
</section>