section.backlink-header {
    width: 100%;
    padding: 30px 0 0;
}

section.backlink-header .back-link a {
    display: flex;
    align-items: center;
    color: #1cb1c5;
    font-family: 'g-demibold';
    text-transform: uppercase;
    letter-spacing: 1px;
}

section.backlink-header .back-link a svg {
    width: 7px;
    margin-right: 4px;
}


.grid-box-shadow
{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 4px rgb(212 212 212);
    border-radius: 7px;
    width: 100%;
    float: left;
}

.shipping-address-form input {
    height: 50px;
    font-family: 'g-medium';
    font-size: 16px;
    color: rgba(0 0 0/0.8);
}

.shipping-address-form input::placeholder {
    color: rgba(0 0 0/0.6);
}

.shipping-address-form input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #1cb1c5;
}

.method-shipp ul {
    padding: 0;
    list-style-type: none;
}

.method-shipp ul li {margin-bottom: 20px;}

.method-shipp ul li .custom-control {
    padding-left: 30px;
}

.method-shipp ul li label .shipping-list-item h4 {
    font-size: 20px;
    font-family: 'g-demibold';
    color: #1CC584;
    margin: 0 0 3px 0;
}

.method-shipp ul li label .shipping-list-item p {
    margin: 0;
    color: rgba(0 0 0/0.8);
    font-size: 14px;
}

.method-shipp ul li .custom-control input {
    top: 5px;
    left: 5px;
}

.method-shipp ul li label:after {
    background-color: #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: -22px;
    top: 9px;
}

.method-shipp ul li label:before {
    border: 2px solid #747474;
    left: -25px;
    top: 6px;
}

.method-shipp ul li input:checked~.custom-control-label::after {
    background-color: #1CB1C5;
    background-image: none !important;
}

.method-shipp ul li input:checked~.custom-control-label::before {background-color: #fff;border-color: #1CB1C5;}

.cta-continue {
    text-align: center;
    margin: 30px 0 0px;
}

.cta-continue button.btn-continue {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    background-color: #1cb1c5;
    border-radius: 40px;
    padding: 12px 10px;
    font-family: 'g-medium';
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}   



