<section class="backlink-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 back-link mb-4">
           <a href=""><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-left fa-w-6 fa-3x"><path fill="currentColor" d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" class=""></path></svg>Back to SHOP</a>
            </div>
         
        </div>
    </div>
</section>

<section class="checkout-page grid-checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="checkout-steps-3">
                        <ngb-accordion [closeOthers]="true" activeIds="checkoutstep1" class="panel-stepbar">
                            <ngb-panel id="checkoutstep1" class="panel-step1">
                                <ng-template ngbPanelTitle>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <clipPath id="clip-path"> <rect width="24" height="24" fill="none"/> </clipPath> </defs> <g id="Icon_Check_Circle_Rounded" data-name="Icon / Check Circle / Rounded" clip-path="url(#clip-path)"> <rect id="Box" width="24" height="24" fill="none"/> <path id="Path_2034" data-name="Path 2034" d="M247.2,14.3l-3.6-3.6a.967.967,0,0,1,0-1.4.967.967,0,0,1,1.4,0l2.9,2.9,6.9-6.9a.99.99,0,0,1,1.4,1.4l-7.6,7.6A.967.967,0,0,1,247.2,14.3ZM249.9,0a10,10,0,1,0,10,10A10.029,10.029,0,0,0,249.9,0Z" transform="translate(-238 2)" fill="#1cc584"/> </g> </svg>
                                    <span>1 of 3 - Enter Shipping</span>
                                </ng-template>
                            <ng-template ngbPanelContent>
                                <ngb-accordion activeIds="subscr-schedule">
                                    <ngb-panel id="subscr-schedule">
                                        <ng-template ngbPanelTitle>
                                            <div class="heading-step1" >
                                                <h4>Subscription Schedule</h4>
                                                <p>Start Date:<span class="data-span">4/14/20</span></p>
                                                <span class="arrow-stepp">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="6.6" height="11.2" viewBox="0 0 6.6 11.2">
                                                        <path id="Path_2044" data-name="Path 2044" d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z" transform="translate(-630.6 -4.4)"/>
                                                    </svg>                                                      
                                                </span>
                                            </div>
                                        </ng-template>
                                    <ng-template ngbPanelContent>
                                       <div class="content-card steps-inner">
                                           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                       </div>
                                    </ng-template>
                                    </ngb-panel>
                                    <ngb-panel id="shipping-address">
                                        <ng-template ngbPanelTitle>
                                            <div class="heading-step1">
                                                <h4>Shipping Address</h4>
                                                <span class="arrow-stepp">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="6.6" height="11.2" viewBox="0 0 6.6 11.2">
                                                        <path id="Path_2044" data-name="Path 2044" d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z" transform="translate(-630.6 -4.4)"/>
                                                    </svg>                                                      
                                                </span>
                                            </div>
                                        </ng-template>
                                    <ng-template ngbPanelContent>
                                       <div class="content-card steps-inner shipping-address-form">
                                           <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="First Name" name="fname" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Last Name" name="lname" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Street Address" name="street_address" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="City" name="city" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="State" name="state" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="ZIP" name="zipcode" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Country" name="country" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                              
                                           </form>
                                       </div>
                                    </ng-template>
                                    </ngb-panel>
                                    <ngb-panel id="shipping-method">
                                        <ng-template ngbPanelTitle>
                                            <div class="heading-step1">
                                                <h4>Shipping Method</h4>
                                                <span class="arrow-stepp">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="6.6" height="11.2" viewBox="0 0 6.6 11.2">
                                                        <path id="Path_2044" data-name="Path 2044" d="M630.9,4.7a.967.967,0,0,0,0,1.4l3.9,3.9-3.9,3.9a.99.99,0,0,0,1.4,1.4l4.6-4.6a.967.967,0,0,0,0-1.4l-4.6-4.6A.967.967,0,0,0,630.9,4.7Z" transform="translate(-630.6 -4.4)"/>
                                                    </svg>                                                      
                                                </span>
                                            </div>
                                        </ng-template>
                                    <ng-template ngbPanelContent>
                                            <div class="content-card steps-inner shipping-method">
                                                <div class="method-shipp">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio1">
                                                                    <div class="shipping-list-item">
                                                                        <h4>Get it today (Utah only)</h4>
                                                                        <p>$0.00 Will Call Pickup</p>
                                                                    </div>
                                                                </label>
                                                              </div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio2">
                                                                    <div class="shipping-list-item">
                                                                        <h4>Get it by Fri, Feb 22nd</h4>
                                                                        <p>FREE Shipping</p>
                                                                    </div>
                                                                </label>
                                                              </div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio3">
                                                                    <div class="shipping-list-item">
                                                                        <h4>Get it by Wed, Feb 19th</h4>
                                                                        <p>$8.99 Shipping</p>
                                                                    </div>
                                                                </label>
                                                              </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </ng-template>
                                    </ngb-panel>
                               
                                </ngb-accordion>
                                <div class="cta-continue">
                                    <button class="btn btn-continue">
                                        Save and continue
                                    </button>
                                </div>
                            </ng-template>
                           
                            </ngb-panel> 
                            <ngb-panel id="checkoutstep2">
                            <ng-template ngbPanelTitle>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <clipPath id="clip-path"> <rect width="24" height="24" fill="none"/> </clipPath> </defs> <g id="Icon_Check_Circle_Rounded" data-name="Icon / Check Circle / Rounded" clip-path="url(#clip-path)"> <rect id="Box" width="24" height="24" fill="none"/> <path id="Path_2034" data-name="Path 2034" d="M247.2,14.3l-3.6-3.6a.967.967,0,0,1,0-1.4.967.967,0,0,1,1.4,0l2.9,2.9,6.9-6.9a.99.99,0,0,1,1.4,1.4l-7.6,7.6A.967.967,0,0,1,247.2,14.3ZM249.9,0a10,10,0,1,0,10,10A10.029,10.029,0,0,0,249.9,0Z" transform="translate(-238 2)" fill="#1cc584"/> </g> </svg>
                                <span>2 of 3 - Payment</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </ng-template>
                            </ngb-panel>
                            <ngb-panel id="checkoutstep3" >
                                <ng-template ngbPanelTitle>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <clipPath id="clip-path"> <rect width="24" height="24" fill="none"/> </clipPath> </defs> <g id="Icon_Check_Circle_Rounded" data-name="Icon / Check Circle / Rounded" clip-path="url(#clip-path)"> <rect id="Box" width="24" height="24" fill="none"/> <path id="Path_2034" data-name="Path 2034" d="M247.2,14.3l-3.6-3.6a.967.967,0,0,1,0-1.4.967.967,0,0,1,1.4,0l2.9,2.9,6.9-6.9a.99.99,0,0,1,1.4,1.4l-7.6,7.6A.967.967,0,0,1,247.2,14.3ZM249.9,0a10,10,0,1,0,10,10A10.029,10.029,0,0,0,249.9,0Z" transform="translate(-238 2)" fill="#1cc584"/> </g> </svg>
                                    <span>3 of 3 - Review</span>
                                </ng-template>
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                  </div>
            </div>
        <div class="col-md-5"></div>
        </div>
    </div>
</section>

