<section class="backlink-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 back-link mb-4">
           <a href=""><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" class="svg-inline--fa fa-angle-left fa-w-6 fa-3x"><path fill="currentColor" d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z" class=""></path></svg>Back to SHOP</a>
            </div>
         
        </div>
    </div>
</section>

<section class="checkout-page grid-checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="checkout-steps-3">
                        <ngb-accordion [closeOthers]="true" activeIds="checkoutstep1">
                            <ngb-panel id="checkoutstep1">
                                <ng-template ngbPanelTitle>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <clipPath id="clip-path"> <rect width="24" height="24" fill="none"/> </clipPath> </defs> <g id="Icon_Check_Circle_Rounded" data-name="Icon / Check Circle / Rounded" clip-path="url(#clip-path)"> <rect id="Box" width="24" height="24" fill="none"/> <path id="Path_2034" data-name="Path 2034" d="M247.2,14.3l-3.6-3.6a.967.967,0,0,1,0-1.4.967.967,0,0,1,1.4,0l2.9,2.9,6.9-6.9a.99.99,0,0,1,1.4,1.4l-7.6,7.6A.967.967,0,0,1,247.2,14.3ZM249.9,0a10,10,0,1,0,10,10A10.029,10.029,0,0,0,249.9,0Z" transform="translate(-238 2)" fill="#1cc584"/> </g> </svg>
                                    <span>1 of 3 - Enter Shipping</span>
                                </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="grid-box-shadow search-box">
                                dsjhfkhdskjfhdsj
                                </div>
                            </ng-template>
                            </ngb-panel>
                            <ngb-panel id="checkoutstep2">
                                <ng-template ngbPanelTitle>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <clipPath id="clip-path"> <rect width="24" height="24" fill="none"/> </clipPath> </defs> <g id="Icon_Check_Circle_Rounded" data-name="Icon / Check Circle / Rounded" clip-path="url(#clip-path)"> <rect id="Box" width="24" height="24" fill="none"/> <path id="Path_2034" data-name="Path 2034" d="M247.2,14.3l-3.6-3.6a.967.967,0,0,1,0-1.4.967.967,0,0,1,1.4,0l2.9,2.9,6.9-6.9a.99.99,0,0,1,1.4,1.4l-7.6,7.6A.967.967,0,0,1,247.2,14.3ZM249.9,0a10,10,0,1,0,10,10A10.029,10.029,0,0,0,249.9,0Z" transform="translate(-238 2)" fill="#1cc584"/> </g> </svg>
                                    <span>2 of 3 - Payment</span>
                                </ng-template>
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </ng-template>
                            </ngb-panel>
                            <ngb-panel id="checkoutstep3">
                                <ng-template ngbPanelTitle>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"> <defs> <clipPath id="clip-path"> <rect width="24" height="24" fill="none"/> </clipPath> </defs> <g id="Icon_Check_Circle_Rounded" data-name="Icon / Check Circle / Rounded" clip-path="url(#clip-path)"> <rect id="Box" width="24" height="24" fill="none"/> <path id="Path_2034" data-name="Path 2034" d="M247.2,14.3l-3.6-3.6a.967.967,0,0,1,0-1.4.967.967,0,0,1,1.4,0l2.9,2.9,6.9-6.9a.99.99,0,0,1,1.4,1.4l-7.6,7.6A.967.967,0,0,1,247.2,14.3ZM249.9,0a10,10,0,1,0,10,10A10.029,10.029,0,0,0,249.9,0Z" transform="translate(-238 2)" fill="#1cc584"/> </g> </svg>
                                    <span>3 of 3 - Review</span>
                                </ng-template>
                            <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                  </div>
            </div>
        <div class="col-md-5"></div>
        </div>
    </div>
</section>

