section.backlink-header {
    width: 100%;
    padding: 30px 0 0;
}

section.backlink-header .back-link a {
    display: flex;
    align-items: center;
    color: #1cb1c5;
    font-family: 'g-demibold';
    text-transform: uppercase;
    letter-spacing: 1px;
}

section.backlink-header .back-link a svg {
    width: 7px;
    margin-right: 4px;
}


.grid-box-shadow
{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 4px rgb(212 212 212);
    border-radius: 7px;
    width: 100%;
    float: left;
}

.shipping-address-form input {
    height: 50px;
    font-family: 'g-medium';
    font-size: 16px;
    color: rgba(0 0 0/0.8);
}

.shipping-address-form input::placeholder {
    color: rgba(0 0 0/0.6);
}

.shipping-address-form input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #1cb1c5;
}

.method-shipp ul {
    padding: 0;
    list-style-type: none;
}

.method-shipp ul li {margin-bottom: 20px;}

.method-shipp ul li .custom-control {
    padding-left: 30px;
}

.method-shipp ul li label .shipping-list-item h4 {
    font-size: 20px;
    font-family: 'g-demibold';
    color: #1CC584;
    margin: 0 0 3px 0;
}

.method-shipp ul li label .shipping-list-item p {
    margin: 0;
    color: rgba(0 0 0/0.8);
    font-size: 14px;
}

.method-shipp ul li .custom-control input {
    top: 5px;
    left: 5px;
}

.method-shipp ul li label:after {
    background-color: #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: -22px;
    top: 9px;
}

.method-shipp ul li label:before {
    border: 2px solid #747474;
    left: -25px;
    top: 6px;
}

.method-shipp ul li input:checked~.custom-control-label::after {
    background-color: #1CB1C5;
    background-image: none !important;
}

.method-shipp ul li input:checked~.custom-control-label::before {background-color: #fff;border-color: #1CB1C5;}

.cta-continue {
    text-align: center;
    margin: 30px 0 0px;
}

.cta-continue button.btn-continue {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    background-color: #1cb1c5;
    border-radius: 40px;
    padding: 12px 10px;
    font-family: 'g-medium';
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}   

.steps-inner.promo-checkout .form-group,
.loyalty-form .form-group
{
    position: relative;
}

.steps-inner.promo-checkout .form-group input,
.loyalty-form .form-group input
 {
    height: 55px;
}

.steps-inner.promo-checkout .form-group span.btn-add-promo,
.loyalty-form .form-group span.btn-add-promo
{
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;
}

.steps-inner.promo-checkout .form-group span.btn-add-promo svg,
.loyalty-form .form-group span.btn-add-promo svg
 {fill: rgba(0 0 0/0.5);}

span.vali-promo {
    margin: 5px 0 0px 0;
    display: block;
    font-family: 'g-regular';
    font-size: 14px;
    color: rgba(0 0 0/0.7);
}

.loyalty-desc {
    margin-bottom: 13px;
    position: relative;
}
.loya-conver {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%,-50%);
}


span.loyal-conv-modal {
    cursor: pointer;
}


.final-cta-bottom .verified-batch {
    max-width: 245px;
    display: flex;
    text-align: left;
    align-items: center;
    margin: 20px auto 0;
}

.final-cta-bottom {
    text-align: center;
    padding: 20px 0;
}

.final-cta-bottom .plce-order-cta {
    margin: 0px 0 10px 0;
}

.plce-order-cta button {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #1cb1c5;
    border-radius: 40px;
    padding: 15px 10px;
    font-family: 'g-regular';
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid #1cb1c5;
}

.final-cta-bottom .verified-batch span.batch-text {
    margin-left: 11px;
}

.table-today-order {
    max-width: 240px;
    margin: 0 auto;
}

.table-today-order table {
    width: 100%;
}

.table-today-order tbody tr td {
    font-size: 16px;
    font-family: 'g-medium';
    color: rgba(0 0 0/0.7);
    padding: 2px 5px;
}

.table-today-order table tbody tr td:last-child,.table-today-order tfoot tr td:last-child {text-align: right;}

.table-today-order table tfoot tr:first-child td p {
    padding-top: 20px;
    margin-bottom: 0px;
}

.table-today-order tfoot tr:first-child {
    border-top: 1px solid rgb(230 230 230);
}

.table-today-order tbody tr:last-child td {padding-bottom: 15px;}


p.you-sav {
    color: #1CC584;
    font-size: 20px;
    font-family: 'g-medium';
}

p.you-pay {
    color: #1CC584;
    font-size: 18px;
    font-family: 'g-medium';
    color: rgba(0 0 0/0.7);
    margin: 0;
}

