section {
    background: #fff;
}
.content-banner-slider {
    position: absolute;
    z-index: 9999;
    top: 50%;
    width: 100%;
    text-align: center;
}

.slider-wrapper {
    position: relative;
}

.content-banner-slider h3 {
    color: #fff;
    font-family: 'g-light';
    font-size: 55px;
    margin-bottom: 50px;
    font-weight: 200;
    text-shadow: 0px 0px 6px #00000080;
}

.content-banner-slider a.btn-learn {
    background-color: #1cb1c5;
    padding: 8px 50px;
    color: #fff;
    border-radius: 53px;
    font-size: 19px;
    font-family: 'g-regular';
    text-transform: uppercase;
}


section.best-selller {
    padding: 50px 0;
}

section.best-selller h3 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'g-regular';
    font-size: 40px;
    color: #707070;
}

.seller-wrapper {
    position: relative;
    padding: 10px;
}

.seller-wrapper .content-info-image {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.seller-wrapper .content-info-image h4 {
    font-family: 'g-demibold';
    font-size: 20px;
    max-width: 210px;   
    margin: 0 auto 6px;
    color: #fff;
}

.seller-wrapper .content-info-image p.price-seller {
    color: #fff;
}

.img-set-safe img {
    width: 100%;
}

section.safe-affective {
    background-color: #E9F2EF;
    padding: 60px 0 50px;
}

.content-safe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-safe h3 {
    font-family: 'g-light';
    font-size: 55px;
    text-align: center;
    color: rgba(0 0 0/0.6);
    margin-bottom: 40px;
}
.content-safe ul.feature-safeffective {
    list-style-type: none;
    padding: 0;
    max-width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin:20px 0 40px 0;
}

.content-safe ul.feature-safeffective li {
    text-align: center;
}

.content-safe ul.feature-safeffective li span.circl-safeffective {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0 0 0/0.8);
    position: relative;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.content-safe ul.feature-safeffective li p.sub-title-safeff {
    font-size: 15px;
    font-family: 'g-medium';
    color: rgba(0 0 0/0.6);
    max-width: 150px;
}

.content-safe a {
    background-color: #1cb1c5;
    color: #fff;
    font-size: 20px;
    padding: 8px 40px;
    text-transform: uppercase;
    border-radius: 30px;
}

section.impact-strengthen {padding: 60px 0;}

section.impact-strengthen .content-safe h3 {
    font-size: 40px;
    color: #707070;
    max-width: 375px !important;
    line-height: 54px;
}
section.impact-strengthen p {
    text-align: center;
    max-width: 450px;
}

section.impact-strengthen .content-safe a.btn-learnmore {
    font-size: 16px;
    padding: 9px 30px;
}

ul.rating-star li img {
    width: 100%;
    max-width: 14px;
}

ul.rating-star {list-style-type: none;padding: 0;}

ul.rating-star li {
    display: inline-block;
}

ul.rating-star li:not(:first-child) {
    margin-left: 5px;
}

.bottom-stars-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section.testimonial-home {
    background-color: #EFEFEF;
    padding: 60px 0;
}

section.testimonial-home h3 {
    text-align: center;
    font-size: 45px;
    font-family: 'g-light';
    margin-bottom: 30px;
    color: rgba(0 0 0/0.8);
}

.testimonial-wrapper {
    background-color: #fff;
    padding: 20px;
}

.testimonial-wrapper h4 {
    font-size: 18px;
}

.testimonial-wrapper p.testimonial-text {
    font-size: 12px;
}

.testimonial-outer {
    padding: 10px;
}

.testimonial-wrapper .client-name h5 {
    font-size: 14px;
}

section.wink-energy {
    padding: 50px 0;
}

section.wink-energy .content-safe h3 {
    max-width: 440px !important;
    font-size: 50px !important;
    color: rgba(0 0 0/0.8) !important;
}

section.wink-energy .content-safe p {
    text-align: center;
    max-width: 400px;
    color: rgba(0 0 0/0.8) !important;
    font-size: 20px;
    font-family: 'g-demibold';
}

section.instagram-posts {
    padding: 10px 0 40px;
}

section.instagram-posts h3 {
    text-align: center;
    font-size: 40px;
    font-family:'g-light';
    color: rgba(0 0 0/0.8) !important;
    margin-bottom: 50px;
}

ul.testimonial-images {
    list-style-type: none;
    padding: 0;
}

ul.testimonial-images li {
    display: block;
    width: calc(20% - 26px);
    float: left;
}

ul.testimonial-images li:not(:first-child) {
    margin-left: 25px;
}

ul.testimonial-images li img {
    width: 100%;
}



/*MEDIA */

@media (max-width:991px)
{
    section.impact-strengthen .content-safe h3 {
        font-size: 33px !important;
        line-height: 43px !important;
        margin-bottom: 15px !important;
    }
}

@media (max-width:767px)
{
    section.impact-strengthen .col-md-6:first-child {
        order: 2;
    }
    .content-banner-slider {
        transform: translate(-50%,-50%);
        left: 50%;
    }
    
    .content-banner-slider h3 {
        font-size: 20px !important;
        margin: 0 0 12px 0 !important;
    }
    
    .content-banner-slider a.btn.btn-learn {
        font-size: 16px !important;
        padding: 3px 15px !important;
    }
    
    .content-safe h3 {
        font-size: 34px !important;
        max-width: 150px;
        margin: 0 auto 40px;
    }
    
    ul.feature-safeffective {
        flex-direction: column !important;
        align-items: center;
    }
    
    ul.feature-safeffective li {
        display: flex;
        align-items: center;
        text-align: left !important;
        margin-bottom: 30px;
    }
    
    ul.feature-safeffective li p.sub-title-safeff {
        margin-left: 20px;
        margin-bottom: 0px;
    }
    
    ul.feature-safeffective li span.circl-safeffective {
        width: 70px !important;
        height: 70px !important;
        margin: 0 !important;
    }
    section.best-selller {
        float: left;
        width: 100%;
    }
    
    section.safe-affective {
        float: left;
        width: 100%;
    }
    
    section.impact-strengthen {
        width: 100%;
        float: left;
        padding: 50px 0;
    }
    
    section.safe-affective .content-safe {
        margin: 20px 0 0px 0;
    }
    
    section.impact-strengthen p {
        text-align: center;
    }
    
    section.impact-strengthen .content-safe h3 {
        font-size: 35px !important;
    }
    
ul.testimonial-images li {
    width: calc(50% - 15px) !important;
}

ul.testimonial-images li {
    margin-left: 0px !important;
    padding: 6px;
}

.content-safe {
    margin-top: 30px;
}
    
}