<section class="top-owl-banner">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slider-wrapper">
        <div class="slider-image">
          <img src="../../../assets/slider.png"/>
        </div>
        <div class="content-banner-slider">
          <h3>For Growing Kids</h3>
          <a href="#" class="btn btn-learn">Learn More</a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slider-wrapper">
        <div class="slider-image">
          <img src="../../../assets/slider.png"/>
        </div>
        <div class="content-banner-slider">
          <h3>For Growing Kids</h3>
          <a href="#" class="btn btn-learn">Learn More</a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slider-wrapper">
        <div class="slider-image">
          <img src="../../../assets/slider.png"/>
        </div>
        <div class="content-banner-slider">
          <h3>For Growing Kids</h3>
          <a href="#" class="btn btn-learn">Learn More</a>
        </div>
      </div>
    </ng-template>
  
  </owl-carousel-o>
  
</section>

<section class="best-selller">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Best Sellers</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="bestsellers">
          <ng-template carouselSlide>
            <div class="seller-wrapper">
              <img src="../../../assets/best-seller-img1.png"/>
              <div class="content-info-image">
                <h4>Kids Sleep Melts 30-Count</h4>
                <p class="price-seller">$24.99</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="seller-wrapper">
              <img src="../../../assets/best-seller-img2.png"/>
              <div class="content-info-image">
                <h4>Energy</h4>
                <p class="price-seller">$34.99</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="seller-wrapper">
              <img src="../../../assets/best-seller-img3.png"/>
              <div class="content-info-image">
                <h4>Pre & Pro Biotic Melts 30-Count</h4>
                <p class="price-seller">$24.99</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="seller-wrapper">
              <img src="../../../assets/best-seller-img4.png"/>
              <div class="content-info-image">
                <h4>Zen Drops</h4>
                <p class="price-seller">$24.99</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>

  </div>
</section>

<section class="safe-affective">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-set-safe">
          <img src="../../../assets/safe-affective.png"/>
        </div>
        
        </div>
      <div class="col-md-6">
        <div class="content-safe">
          <h3>Safe Affective Natural</h3>
          <p>From our family to yours</p>
          <a href="#" class="btn btn-shop">Shop Now</a>
        </div>
        </div>
        </div>
        </div>
</section>
<section class="impact-strengthen">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content-safe">
          <h3>To Impact and Strengthen Families.</h3>
          <p>This is the driving force behind everything we do, from the ingredients we choose and the products we develop, to the relationships we build with our customers, our sellers and within our communities</p>
        </div>
        </div>
      <div class="col-md-6">
        <div class="img-set-safe">
          <img src="../../../assets/home-impact.png"/>
        </div>
        </div>
        </div>
        </div>
</section>

<section class="testimonial-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>What are people saying about Wink?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="home_testimonials">
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-outer">
              <div class="testimonial-wrapper">
                <div class="content-info-image">
                  <h4>I Just Love These</h4>
                  <p class="testimonial-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                  <div class="bottom-stars-info">
                    <div class="star-rating">
                    <ul class="rating-star">
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                      <li><img src="../../../assets/star-solid.png"/></li>
                    </ul>
                    </div>
                    <div class="client-name">
                      <h5>-Beth Mena</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </ng-template>
         
        </owl-carousel-o>
      </div>
    </div>

  </div>
</section>

<section class="wink-energy">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="content-safe">
          <h3>September = FREE Energy Sample or Kids Sleep Melt</h3>
          <p>Each month we give our active Preferred Subscribers a gift + Free Shipping + 15% off</p>
          <a href="#" class="btn btn-shop">Shop Now</a>
        </div>
        </div>
      <div class="col-md-6">
        <div class="img-set-safe">
          <img src="../../../assets/free-energy.png"/>
        </div>
        </div>
        </div>
        </div>
</section>

<section class="instagram-posts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>See us on Instagram</h3>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <ul class="testimonial-images">
            <li><img src="../../../assets/tetsimonal1.png"/></li>
            <li><img src="../../../assets/tetsimonal2.png"/></li>
            <li><img src="../../../assets/tetsimonal3.png"/></li>
            <li><img src="../../../assets/tetsimonal4.png"/></li>
            <li><img src="../../../assets/tetsimonal5.png"/></li>
          </ul>
          </div>
        </div>
        </div>
        
</section>