<section class="thankyou-usr">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="centered-wrapper">
                <div class="thankyou-area">
                    <div class="img-thankyou">
                        <img src="/assets/delivery-img.png"/>
                    </div>
                    <div class="data-thankyou"> 
                        <h4>Your order is on it's way!</h4>
                        <p>Check your email for your tracking information</p>
                    </div>
                </div>
                <div class="note-bottom">
                <p>Questions? Contact us at <a href="mailto:hello@winknaturals.com">hello@winknaturals.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>