header nav {
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0px 0px 5px #c1c1c1;
}

div#main-menu {
  justify-content: space-between !important;
}


div#main-menu li a {
  font-family: "g-demibold";
  text-transform: uppercase;
  color: #2aa8bf;
}

div#main-menu li {
  margin-right: 10px;
}

ul.right-menu {
  list-style-type: none;
  margin: 0;
}

ul.right-menu li {
  display: inline-block;
}

ul.right-menu li a {
  text-decoration: none;
}


header a.navbar-brand img {
  max-width: 90px;
}

ul.right-menu li a.log-links {
  cursor: pointer;
}
.navbar-toggler i {
  font-size: 26px;
  color: #707070;
}

@media(min-width:992px)
{
  .logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
}

a.nav-link.active {
  background: #2aa8bf;
  color: #ffffff !important;
  border-radius: 4px;
}
