<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="logo-center">
        <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img
            src="../../assets/logo-wink.png" /></a>
      </div>
      <button (click)="toggleDisplayDivIf()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu"
        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>


      <div class="collapse navbar-collapse d" *ngIf="isDesktopMenu" id="main-menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/store']" [routerLinkActive]="['active']">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/enrollment']" [routerLinkActive]="['active']">Join</a>
          </li>
          <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->

        </ul>
        <div class="logo-center">
          <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img
              src="../../assets/logo-wink.png" /></a>
        </div>
        <ul class="right-menu">
          <li><a href="#"><i class="fa fa-search"></i></a></li>
          <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
          <li *ngIf="!user"><a [routerLink]="['/sign-in']" class="log-links">SIGN IN</a></li>
          <li *ngIf="user"><a (click)="logout()" class="log-links">Log out</a></li>
        </ul>
      </div>

      <div class="collapse navbar-collapse m" id="main-menu" *ngIf="isMobileMenu" [className]="toggleDisplayDivIf ?  'showmenu' : 'hidemenu'">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/store']" [routerLinkActive]="['active']">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/enrollment']" [routerLinkActive]="['active']">Join</a>
          </li>
          <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->

        </ul>
        <div class="logo-center">
          <a class="navbar-brand" [routerLink]="['']" [routerLinkActive]="['active']"><img
              src="../../assets/logo-wink.png" /></a>
        </div>
        <ul class="right-menu">
          <li><a href="#"><i class="fa fa-search"></i></a></li>
          <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
          <li *ngIf="!user"><a [routerLink]="['/sign-in']" class="log-links">SIGN IN</a></li>
          <li *ngIf="user"><a (click)="logout()" class="log-links">Log out</a></li>
        </ul>
     
      </div>
    </div>
  </nav>
</header>
