<section class="shop-banner">
  <div class="container-banner">
      <div class="content-banner">
          <h3>bath Sale Today Only!</h3>
          <p>Dolor sit amet, consetetur sadipscing elitr, sed diam</p>
          <p><a href="#" class="btn btn-blue">Learn More</a></p>
      </div>
  </div>
  <div class="product-filters">
      <form class="form-inline">
          <div class="form-group">
              <i class="fas fa-caret-down"></i>
              <!-- <select class="form-control">
                  <option>Select Category</option>
                  <option>All Products</option>
                  <option>Comfort Patch</option>
                  <option>Sleep</option>
                  <option>Skin Care</option>
                  <option>Teething</option>
                  <option>Health & Nutrition</option>
                  <option>Men's Care</option>
                  <option>Wink Merch</option>
              </select> -->
              <select class="custom-select"  (change)="onCategoryChange($event)">  
                <option *ngFor="let web of categoryModels"  [value]="web.webCategoryID">{{web.webCategoryDescription}}</option>  
            </select>  

            <!-- <select (change)="onCategoryChange($event.target.value)">
            <option [value]="item.webCategoryID" *ngFor="let item of categoryModels">{{item.webCategoryDescription}}</option>
             </select> -->

        

          </div>
          <div class="form-group select-filters">
              <i class="svg-ico">
                  <svg id="filter_list-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path id="Path_2090" data-name="Path 2090" d="M0,0H24V24H0Z" fill="none"/>
                      <path id="Path_2091" data-name="Path 2091" d="M11,18h2a1,1,0,0,0,0-2H11a1,1,0,0,0,0,2ZM3,7A1,1,0,0,0,4,8H20a1,1,0,0,0,0-2H4A1,1,0,0,0,3,7Zm4,6H17a1,1,0,0,0,0-2H7a1,1,0,0,0,0,2Z" fill="rgba(0,0,0,0.87)"/>
                    </svg>
              </i>
              <select class="form-control">
                <option>Featured</option>
                <option>Price: $ - $$</option>
                <option>Price: $$ - $</option>
                <option>Name: A - Z</option>
              </select>
          </div>
      </form>
  </div>
</section>

<section class="products">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3>All Products</h3>
          </div>
      </div>
      <div class="row mt-5 prod-wrapp">
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>
          <div class="col-md-3 prod-list-item">
              <div class="card">
                  <img src="../../assets/products-sample.png" class="card-img-top" alt="products-sample">
                  <div class="card-body">
                      <div class="product-details">
                          <h5 class="card-title">Kids Sleep Melts</h5>
                          <h6 class="small">Perfect for ages 3+</h6>
                          <div class="reviews-product">
                              <ul>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  <li><i class="fas fa-star"></i></li>
                                  </ul>
                                  <p>704 REVIEWS</p>
                                </div>
                                <div class="prod-price">
                                    <span class="price-value">$24.77</span>
                                </div>
                                    <span class="more-info">
                                        <a (click)="open(produt_view)" class="btn btn-add"><i class="fas fa-plus"></i></a>
                                    </span>
                      </div>
                  </div>
                </div>
          </div>

      </div>
  </div>
</section>

<!--- SHop MOdal --->

<ng-template #produt_view let-modal >
  <div class="model-productview">
      <form>
        <div class="modal-body">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <svg id="Icon_Close_Rounded" data-name="Icon / Close / Rounded" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Icon_Close_Rounded-2" data-name="Icon / Close / Rounded">
                    <rect id="Box" width="24" height="24" fill="none"/>
                    <path id="Path_2016" data-name="Path 2016" d="M111.8,3.3a.967.967,0,0,0-1.4,0l-4.9,4.9-4.9-4.9a.99.99,0,0,0-1.4,1.4l4.9,4.9-4.9,4.9a.99.99,0,0,0,1.4,1.4l4.9-4.9,4.9,4.9a.99.99,0,1,0,1.4-1.4l-4.9-4.9,4.9-4.9A.967.967,0,0,0,111.8,3.3Z" transform="translate(-94 2)" fill="#fff"/>
                  </g>
                </svg>
            </button>
            <div class="card">
                <div class="product-view-image">
                  <img src="../../assets/product-view-sample.png" class="card-img-top" alt="products-sample">
                  <a routerLink="product" routerLinkActive="active" class="btn btn-learn">Learn More</a>
                </div>
              <div class="card-body">
                  <div class="product-details">
                      <h5 class="card-title">Kids Sleep Melts</h5>
                      <div class="reviews-product">
                          <ul>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              <li><i class="fas fa-star"></i></li>
                              </ul>
                              <p>704 REVIEWS</p>
                      </div>
                      <h6 class="small">Perfect for ages 3+</h6>
                      <div class="product-info">
                          <p>Take the battle out of bedtime! Our Kids Sleep Melts are formulated with high-quality melatonin and natural ingredients to help your little one get the kind of sleep they need.</p>
                      </div>
                      <div class="prod-bundle-select">
                          <h3>Select Bundle</h3>
                                <div class="radio-bundle">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                      <label class="form-check-label" for="inlineRadio1">Single</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                      <label class="form-check-label" for="inlineRadio2">2-pk (Save 5%)</label>
                                    </div>
                                </div>
                      </div>
                      <div class="prod-bundle-select mt-0 delivery-radio">
                          <h3>Select Delivery</h3>
                                <div class="radio-bundle">
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="del-radio" id="inlineRadio3" value="option3">
                                      <label class="form-check-label" for="inlineRadio3">Single Delivery</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="del-radio" id="inlineRadio4" value="option4">
                                      <label class="form-check-label" for="inlineRadio4">Subscribe & Save 15%</label>
                                    </div>
                                </div>
                      </div>
                      <div class="custom-shiping">
                          <h3>Customize Shipment</h3>
                          <div class="choose-shipping">
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Qty 1</option>
                                      <option>Qty 2</option>
                                      <option>Qty 3</option>
                                      <option>Qty 4</option>
                                  </select>
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.171 4.6">
                                      <path id="Path_2028" data-name="Path 2028" d="M342.6,9.4l2.6,2.6a.967.967,0,0,0,1.4,0l2.6-2.6a1,1,0,0,0-.7-1.7h-5.2A1,1,0,0,0,342.6,9.4Z" transform="translate(-342.315 -7.7)"/>
                                    </svg>

                              </div>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Every Month</option>
                                      <option>Every Week</option>
                                      <option>Every Year</option>
                                  </select>
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.171 4.6">
                                      <path id="Path_2028" data-name="Path 2028" d="M342.6,9.4l2.6,2.6a.967.967,0,0,0,1.4,0l2.6-2.6a1,1,0,0,0-.7-1.7h-5.2A1,1,0,0,0,342.6,9.4Z" transform="translate(-342.315 -7.7)"/>
                                    </svg>

                              </div>

                          </div>
                      </div>
                              <div class="cart-btn">
                                  <button type="submit" class="btn btn-cart">$24.99 ADD</button>
                              </div>
                  </div>

              </div>
</div>


          </div>
          </form>
  </div>
</ng-template>
