section.form-sign-up {
    padding: 60px 20px;
}

section.form-sign-up form {
    max-width: 420px;
    margin: 0 auto;
}

section.form-sign-up form .signup-box-wrapper {
    background-color: #fff;
    padding: 16px 14px 13px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
}


.signup-box-wrapper h3 {
    font-family: 'g-regular';
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-box-wrapper input {
    height: 56px;
    font-size: 16px;
    font-family: 'g-demibold';
    border: 1px solid #777;
}

p.forgot-link {
    text-align: right;
    margin: 0;
    font-family: 'g-regular';
}

p.forgot-link a {
    color: #1cb1c5;
}


.btn-proceed button {
    max-width: 246px;
    background-color: #1cb1c5;
    margin: 0 auto 20px;
    color: #fff;
    border-radius: 50px;
    font-family: 'g-demibold';
    font-size: 14px;
    height: 36px;
    border: 1px solid #1cb1c5;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.btn-proceed a {
    max-width: 246px;
    background-color: transparent;
    margin: 0 auto 20px;
    color: #1cb1c5;
    border-radius: 50px;
    font-family: 'g-demibold';
    border: 1px solid #1cb1c5;
    font-size: 14px;
    display: block;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-proceed a:hover {
    background-color: #1cb1c5 !important;
    color: #fff !important;
}
p.short-noti-signup {
    color: #000;
    font-size: 12px;
    opacity: 0.8;
    padding: 0 15px;
}

section.form-sign-up .signup-box-wrapper {
    margin-bottom: 10px !important;
}

p.already-text {
    text-align: center;
    font-size: 16px;
    font-family: 'g-demibold';
    color: #000000bf;
    margin-bottom: 8px;
}