/* You can add global styles to this file, and also import other style files */

@import url("fonts/greycliff/stylesheet.css");/* Proxima font */
body
{
  font-family: 'g-regular' !important;
}

.white-bg
{
background-color: #fff;
}

.main-content {
    width: 100%;
    min-height: 370px;
    background-color: #f7f7f7;
}

.theme-green .bs-datepicker-head,.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #2196f3 !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #2196f3 !important;
}

.swal2-styled.swal2-confirm{
  background-color: #2aa8bf !important;
}


/* Homepage css OWL Carousel */
section.top-owl-banner .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
section.best-selller .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-50%);
}

section.best-selller .owl-nav .owl-prev, section.best-selller .owl-nav .owl-prev:focus,section.best-selller .owl-nav .owl-prev:hover {
  position: absolute;
  left: 0px;
  background: transparent;
  font-size: 25px;
  padding: 0px;
}

section.best-selller .owl-nav .owl-next,section.best-selller .owl-nav .owl-next:hover,section.best-selller .owl-nav .owl-next:focus {
  background: transparent;
  font-size: 25px;
  padding: 0;
  position: absolute;
  right: 0px;
}
section.testimonial-home .owl-dots {
  position: absolute;
  width: 100%;
}

section.testimonial-home .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

section.testimonial-home .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



/* SHOP PAGE _ PRODUCT VIEW MODAL CSS */
.reviews-product ul li i {
  color: #FFAD00;
}

.prodview-modal .modal-dialog .card .product-details .reviews-product ul {list-style-type: none;padding: 0;display: flex;}

.prodview-modal .modal-dialog {
  max-width: 420px;
}
.prodview-modal .modal-dialog .card .product-details h5.card-title {
  font-size: 24px;
  color: rgba(0 0 0/0.8);
  font-family: 'g-regular';
}

.prodview-modal .modal-dialog .card .product-details h6 {
  font-size: 16px;
}

.prodview-modal .modal-dialog .card .product-details .reviews-product p {
  margin-left: 18px;
  height: 28px;
  line-height: 29px;
  font-size: 15px;
}
.prodview-modal .modal-dialog .card .product-details .reviews-product {
  display: flex;
  width: 100%;
  align-items: center;
}

.modal-content {
  border: none;
}

.product-details .reviews-product ul {list-style-type: none;padding: 0;display: flex;}

.product-details h5.card-title {
  font-size: 24px;
  color: rgba(0 0 0/0.8);
  font-family: 'g-regular';
}

.product-details h6 {
  font-size: 16px;
}

.product-details .reviews-product p {
  margin-left: 18px;
  height: 28px;
  line-height: 29px;
  font-size: 15px;
}
.product-details .reviews-product {
  display: flex;
  width: 100%;
  align-items: center;
}



/* CSS PRODUCT DETAIL PAGE CAROUSEL CSS */
.slider-whylove {
  background-color: rgba(80 112 201/0.9);
  max-width: 340px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  width: 100%;
  border-radius: 6px;
}

.slider-whylove owl-carousel-o owl-stage>div {
  max-width: 100%;
  width: 100%;

}
.slider-whylove .text-slider p {
  color: #fff;
  margin: 0;
}
.slider-whylove owl-carousel-o owl-stage .text-slider {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider-whylove .owl-nav {position: absolute;width: 100%;display: flex;justify-content: space-between;top: 50%;margin: 0 !important;transform: translateY(-50%);}

.slider-whylove .owl-dots {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.slider-whylove owl-carousel-o {
  width: 100%;
  float: left;
}

.slider-whylove owl-carousel-o owl-stage {
  max-width: 100%;
  width: 100%;
}
.slider-whylove .owl-nav .owl-prev {
  padding: 0 !important;
  background: transparent !important;
  font-size: 24px !important;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.slider-whylove .owl-nav .owl-next {
  padding: 0 !important;
  position: absolute;
  right: 10px;
  background: transparent !important;
  font-size: 24px !important;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


/*Reviews slider Detail product */
section.client-reviews {
  position: relative;
  padding: 0 0 50px 0;
}

section.client-reviews .client-testimonial-box {
  max-width: 450px;
    margin: -100px auto 0;
}

section.client-reviews .client-testimonial-box .slider-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
}

section.client-reviews .client-testimonial-box .slider-wrapper .reviews-product {
  display: flex;
  justify-content: space-between;
}

section.client-reviews .client-testimonial-box .slider-wrapper .reviews-product ul {
  padding: 0;
  list-style-type: none;
  display: flex;  
}

section.client-reviews .client-testimonial-box .slider-wrapper .reviews-product ul li:not(:first-child) {
  margin-left: 6px;
}
section.client-reviews .client-testimonial-box .owl-stage-outer {
  background-color: #fff;
  box-shadow: 0px 0px 9px #6b6b6b59;
  border-radius: 6px;
  margin-bottom: 20px;
}

section.client-reviews .client-testimonial-box .owl-stage-outer .owl-nav {
  display: none;
}

section.client-reviews .client-testimonial-box .owl-nav {
  display: none;
}

/* Reviews Product CSS */

.slider-product-reviews .owl-dots {
  display: none;
}

.slider-product-reviews .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: -30px 0 0 0!important;
}


.slider-product-reviews .owl-nav .owl-prev {
  background: transparent !important;
  color: #707070!important;
  position: absolute;
  left: -30px!important;
  padding: 0!important;
  font-size: 27px!important;
  margin: 0;
}

.slider-product-reviews .owl-nav .owl-prev:hover,.slider-product-reviews .owl-nav .owl-next:hover {
  color: #1cb1c5!important;
  background: transparent !important;
}

.slider-product-reviews .owl-nav .owl-next {
  position: absolute;
  color: #707070!important;
  right: -30px!important;
  padding: 0!important;
  font-size: 27px!important;
  margin: 0;
  background: transparent !important;
}



/* Carousel Banner Top */

.banner_products-slides ol.carousel-indicators li img {
  width: 100%;
  min-width: 90px;
}

.banner_products-slides ol.carousel-indicators li.list-inline-item {
  width: 100%;
  display: block;
  text-indent: 0;
  height: 100%;
  opacity: 1;
  border: 2px solid #75757508;
}

.banner_products-slides ol.carousel-indicators {
  position: relative;
  margin-top: 20px;
}

.banner_products-slides ol.carousel-indicators li.list-inline-item.active {
  border: 2px solid #e2e2e2;
}

.banner_products-slides .carousel-item img {
  width: 100%;
}

.banner_products-slides .carousel-inner {
  border: 2px solid #fff;
}


@media (max-width:1199px)
{
  section.best-selller .owl-nav,section.best-selller .owl-dots {
    display: none;
}
}

@media (min-width:992px)
{
  section.product-gallery.mob-ui {
    display: none;
} 
}
@media (max-width:991px)
{
  /* CSS PRODUCT DETAIL PAGE CSS */
  .slider-whylove {bottom: 0px;top: auto;transform: none;max-width: 96%;left: 15px;}
  .slider-whylove owl-carousel-o owl-stage .text-slider {
    min-height: 85px;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 33px;
}
section.product-gallery .full-width {
  width: 100%;
  max-width: 100%;
  flex: none;
}

section.product-gallery .full-width:last-child {
display: none;
}
.banner-ads {
  margin-top: 30px !important;
}
section.product-gallery.mob-ui {
  background: #fff !important;
  padding: 0 0 20px 0 !important;
}

section.product-gallery.mob-ui .full-width {
  margin-top: -80px;
}

section.product-gallery {
  padding-bottom: 100px !important;
}

section.product-gallery.mob-ui .full-width {
  display: block;
}

section.product-gallery.mob-ui .model-productview {
  box-shadow: 0px 0px 15px #ab9f9fab;

}


}

@media (max-width:430px)
{
  section.best-selller .owl-nav {
    display: block;
}
}