<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-3">
          <div class="footer-menus">
              <h4>Wink Naturals</h4>
              <ul>
                  <li><a href="#" routerLink="/" routerLinkActive="active">Home</a></li>
                  <li><a href="#" routerLink="/shop" routerLinkActive="active">Shop</a></li>
                  <li><a href="#" routerLink="/about" routerLinkActive="active">About</a></li>
                  <li><a href="#" routerLink="/blog" routerLinkActive="active">Blog</a></li>
                  <li><a href="#">Join</a></li>
                  <li><a href="#">Log In</a></li>
              </ul>
          </div>
          </div>
          <div class="col-md-3">
              <div class="footer-menus">
                  <h4>Contact Us</h4>
                  <ul class="contact Us">
                      <li><a href="mailto:hello@winknaturals.com">hello@winknaturals.com</a></li>
                      <li><a href="tel:18887995656">1(888)799-5656</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-menus">
                  <h4>Follow Us</h4>
                  <p class="link-wink">@winknaturals</p>
                   <ul class="social-ico">
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                       <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                   </ul>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-menus">
                  <h4>Referred By</h4>
                   <div class="info-refered"><span><i class="fa fa-user"></i></span> Amanda Walsh,ID #42</div>
                   </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <p class="footer-logo"><a href="#"><img src="../../assets/footer-logo.png"/></a></p>
              <p class="copyright">© 2021 Wink Naturals All rights reserved</p>

              <ul class="bottom-footer-links">
                  <li><a href="#">Terms & Conditions</a></li>
                  <li>
                      <ul>
                          <li><a href="#">Compensation Plan</a></li>
                          <li><a href="#">Usage Policy</a></li>
                      </ul>
                  </li>

              </ul>

          </div>
      </div>

  </div>
</footer>
