<section class="enrollment-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-enrollment">
                    <h3>Simplify Parenting, Help Others, Make Money</h3>
                    <p>We pride ourselves on our problem solving skills at Wink Naturals and our Venture Sellers are out there helping other families solve their most common problems every single day by simply sharing, not selling, the Wink products they already love and use. We are poised and ready to crack the untapped family care market WIDE open, join us and be a part of all the good we have going on and the greatness yet to come!</p>
                    
                    <div class="listing-content mt-4">
                        <h4>What’s included?</h4>
                        <ul class="list-items">
                            <li>25-40% commissions</li>
                            <li>Fast Start bonuses</li>
                            <li>No required autoships</li>
                            <li>No recruiting required</li>
                            <li>No outlandish fees or sales quotas</li>
                            <li>Flexible and family friendly to meet your lifestyle needs</li>
                            <li>Commissions paid weekly and monthly</li>
                        </ul>
                    </div>
                    <div class="enrollment-btn">
                        <p>Enrollment is now open!</p>
                        <p><a href="#">JOIN NOW</a></p>
                        </div>
                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-video-enrollment">
                    <iframe allowtransparency="true" title="Wistia video player" allowFullscreen frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" src="https://fast.wistia.net/embed/iframe/ajrey1hj1m" width="495" height="280"></iframe>
                   
                </div>
                
            </div>
        </div>
    </div>
    </section>