<section class="breadcrumb-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Shop</a></li>/
                    <li><a href="#">Sleep</a></li>/
                    <li>Sleep</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="product-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                



            </div>
            <div class="col-md-6">
                    <div class="model-productview">
                        <div class="product-details">
                            <h5 class="card-title">Kids Sleep Melts</h5>
                            <div class="reviews-product">
                                <ul>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    </ul>
                                    <p>704 REVIEWS</p>
                            </div>
                            <h6 class="small">Perfect for ages 3+</h6>
                            <div class="product-info">
                                <p>Take the battle out of bedtime! Our Kids Sleep Melts are formulated with high-quality melatonin and natural ingredients to help your little one get the kind of sleep they need.</p>
                            </div>
                            <div class="prod-bundle-select">
                                <h3>Select Bundle</h3>
                                        <div class="radio-bundle">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">Single</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">2-pk (Save 5%)</label>
                                            </div>
                                        </div>
                            </div>      
                            <div class="prod-bundle-select mt-0 delivery-radio">
                                <h3>Select Delivery</h3>
                                        <div class="radio-bundle">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="del-radio" id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">Single Delivery</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="del-radio" id="inlineRadio4" value="option4">
                                            <label class="form-check-label" for="inlineRadio4">Subscribe & Save 15%</label>
                                            </div>
                                        </div>
                            </div> 
                            <div class="custom-shiping">
                                <h3>Customize Shipment</h3>
                                <div class="choose-shipping">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Qty 1</option>
                                            <option>Qty 2</option>
                                            <option>Qty 3</option>
                                            <option>Qty 4</option>
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.171 4.6">
                                            <path id="Path_2028" data-name="Path 2028" d="M342.6,9.4l2.6,2.6a.967.967,0,0,0,1.4,0l2.6-2.6a1,1,0,0,0-.7-1.7h-5.2A1,1,0,0,0,342.6,9.4Z" transform="translate(-342.315 -7.7)"/>
                                            </svg>
                                            
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Every Month</option>
                                            <option>Every Week</option>
                                            <option>Every Year</option>
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.171 4.6">
                                            <path id="Path_2028" data-name="Path 2028" d="M342.6,9.4l2.6,2.6a.967.967,0,0,0,1.4,0l2.6-2.6a1,1,0,0,0-.7-1.7h-5.2A1,1,0,0,0,342.6,9.4Z" transform="translate(-342.315 -7.7)"/>
                                            </svg>
                                            
                                    </div>
    
                                </div>
                            </div>
                                    <div class="cart-btn">
                                        <button type="submit" class="btn btn-cart">$24.99 ADD</button>
                                    </div>
                        </div>
                    </div>
             </div>
                </div>
    </div>
</section>


<section class="energy_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-ads">
                    <a href="#"><img src="../../../assets/energy_sale.png"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video-description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="desc-video">
                    <div class="info-video-product">
                        <h3>Sweet,Sweet Sleep</h3>
                        <p>Elit ut aliquam purus sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non enim praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio.</p>
                        <p>Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc.</p>
                    </div>
                    <div class="video-product-code">

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<section class="why_love_it">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-whylove">
                    <img src="../../../assets/banner-why-love.png"/>
                    <div class="slider-whylove">
                        <!-- <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                              <div class="slider-wrapper">
                                  <div class="text-slider">
                                      <p>Natural ingredients to promote safe sleep</p>
                                    </div>
                              </div>
                            </ng-template>
                            <ng-template carouselSlide>
                              <div class="slider-wrapper">
                                  <div class="text-slider">
                                      <p>Natural ingredients to promote safe sleep</p>
                                    </div>
                              </div>
                            </ng-template>
                            <ng-template carouselSlide>
                              <div class="slider-wrapper">
                                  <div class="text-slider">
                                      <p>Natural ingredients to promote safe sleep</p>
                                    </div>
                              </div>
                            </ng-template>
                          </owl-carousel-o> -->
                      </div>
                </div>
                 

            </div>
        </div>
    </div>
     
     
      
</section>