
section.breadcrumb-product {
    padding: 0;
    margin: 3px 0 0 0;
}

section.breadcrumb-product ul.breadcrumb {
    background: #f7f7f7;
    color: rgba(0 0 0/0.5);
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px 0;
}

section.breadcrumb-product ul.breadcrumb li {
    padding: 0 5px;
    color: rgba(0 0 0/0.5);
    text-transform: uppercase;
}

section.breadcrumb-product ul.breadcrumb li a {
    color: rgba(0 0 0/0.5);
}
section.breadcrumb-product ul li a:hover {
    color: #1cb1c5 !important;
    text-decoration: none;
}

/* Gallery CSS */




/* Product View Modal CSS */



.product-info p {
    font-size: 14px;
}
.model-productview button.close:focus-visible, .model-productview button.close:focus {
    outline: none;
    box-shadow: none;
    border:none
}


.model-productview .modal-body {
    padding: 0px;
}

.model-productview .modal-body button.close {
    position: absolute;
    z-index: 1;
    opacity: 1;
    left: 10px;
    top: 10px;
}

.model-productview .modal-body .card {
    margin: 0px;
    border: none;
}

/* Radio Bundle */
.prod-bundle-select {
    padding: 20px 0;
    border: 1px solid #d8d8d8;
    border-left: none;
    border-right: none;
    margin: 20px 0 0;
}

.prod-bundle-select h3 {    
    font-family: 'g-regular';
    font-size: 20px;
    color: rgba(0 0 0/0.7);
    margin-bottom: 18px;
}

.prod-bundle-select .radio-bundle label {
    border: 1px solid #d6d6d6;
    padding: 9px 18px;
    max-width: 195px;
    border-radius: 50px;
    text-align: center;
    min-width: 96px;
    font-size: 16px;
}

.prod-bundle-select .radio-bundle input {
    position: absolute;
    opacity: 0;
}

.prod-bundle-select .radio-bundle input:checked ~ label {
    border: 1px solid #1CB1C5;
    color: #1CB1C5;
    background-color: rgba(28 177 197/0.1);
}
.prod-bundle-select.delivery-radio {border-top: none;}

.custom-shiping {
    padding: 15px 0;
}

.custom-shiping h3 {
    font-family: 'g-regular';
    font-size: 20px;
    color: rgba(0 0 0/0.7);
    margin-bottom: 18px;
}

.custom-shiping .choose-shipping {
    display: flex;
}

.custom-shiping .choose-shipping .form-group:not(:first-child) {
    margin-left: 20px;
}

.custom-shiping .choose-shipping .form-group select {
    padding: 0 30px 0 10px;
    -webkit-appearance: none;
}

.custom-shiping .choose-shipping .form-group {
    position: relative;
}

.custom-shiping .choose-shipping .form-group svg {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    fill: #707070;
    width: 10px;
    height: 7px;
    pointer-events: none;
}
.cart-btn {
    width: 100%;
}

.cart-btn button.btn-cart {
    background-color: #1CB1C5;
    display: block;
    width: 100%;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    font-family: 'g-regular';
    box-shadow: 0px 4px 5px rgb(0 0 0 / 19%);
}


a.btn-add:hover {
    border-color: #1cb1c5 !important;
    color: #1cb1c5 !important;
}



.model-productview {
    background-color: #fff;
    padding: 30px;
    margin: 0 auto 0;
    max-width: 466px;
}

section.product-gallery {
    padding: 60px 0 150px;
    background: #5070C9;
}

section.breadcrumb-product ul.breadcrumb {
    margin-bottom: 0px;
}

section.energy_banner {
    position: relative;
    background: #fff;
    padding-bottom: 50px;
}

section.energy_banner .banner-ads {
    margin: -80px 0 0 0;
}

.desc-video {
    display: flex;
    background-color: #EDEFF2;
}

.desc-video .info-video-product {
    width: 50%;
    padding: 40px 40px 30px;
}

section.video-description {
    background: #fff;
    margin: 0px 0 0px 0;
    padding-top: 50px;
}

.desc-video .info-video-product h3 {
    font-size: 24px;
    text-align: center;
    font-family: 'g-regular';
}

.desc-video .info-video-product p {
    font-family: 'g-regular';
    font-size: 16px;
}

.video-product-code {
    position: absolute;
    background: #c8f8ff;
    height: 100%;
    width: 40%;
    right: 40px;
    min-height: 440px;
    top: -40px;
}


section.why_love_it {
    padding: 100px 20px;
    background: #fff;
}

section.why_love_it h3.head-ylove {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: rgba(0 0 0/0.8);
}

section.deep-info .img-side {
    position: absolute;
    left: 0px;
    height: 100%;
    top: 0px;
}

section.deep-info .content-card-deepinfo {
    padding: 5px 10px 0px 90px;
}

section.deep-info .content-card-deepinfo h4.title-ingred {
    font-size: 20px;
    font-family: 'g-demibold';
}

section.deep-info .card-body {
    padding: 10px 0 10px 0px;
}

section.deep-info .content-card-deepinfo p.info-ingred {
    margin: 0;
}

section.deep-info .card {
    margin: 20px 0;
}

section.deep-info {
    padding: 80px 0;
}

section.deep-info h3.heading-section {
    text-align: center;
    font-size: 32px;
    font-family: 'g-regular';
}


section.deep-info .content-card-deepinfo p.info-ingred {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0 0 0/0.6);
}

.more-ingred {
    width: 100%;
}

.more-ingred ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    margin: 30px auto 40px;
}

.more-ingred ul .ingred-circle {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid rgba(0 0 0/0.8);
    margin: 0 0 10px 0;
}

.more-ingred ul li h5 {
    text-align: center;
    font-size: 16px;
    font-family: 'g-medium';
    color: rgba(0 0 0/0.6);
    text-transform: capitalize;
}

.more-ingred ul li {
    max-width: 210px;
}

.ingred-selection {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 3px #7d7d7d59;
    padding: 20px 20px;
    position: relative;
    border-radius: 5px;
}

.ingred-selection .toggl-btn {
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: 25px;
}

.ingred-selection h4.ingred-selc-title {
    margin: 0;
    display: inline-block;
    border-bottom: 2px solid #5070C9;
    line-height: 27px;
    font-size: 17px;
    text-transform: uppercase;
    color: rgba(0 0 0/0.8);
}

.see-more-ingred {
    margin: 19px 0 0 0;
    transition: all ease 0.4s;
}

section.how-use-section {
    padding: 80px 15px;
}

section.how-use-section h3.title-head {
    text-align: center;
    margin: 0 0 40px;
    font-size: 32px;
    font-family: 'g-regular';
}

.how-use-listing {
    display: flex;
    height: 100%;
    align-items: center;
}

.how-use-listing ul li {
    font-family: 'g-light';
    color: rgba(0 0 0/0.8);
    margin-bottom: 10px;
    font-size: 18px;
    list-style-type: none;
    position: relative;
    padding-left: 25px;
}

.how-use-listing ul {
    margin: 0;
    padding: 0;
}

.how-use-listing ul li:before {content: '';position: absolute;width: 8px;height: 8px;background-color: #333333;border-radius: 50%;left: 8px;top: 10px;}


section.product-detail {
    background-image: url('../../../assets/product-brief.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 860px;
    position: relative;
}

.info-details {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.info-details h4 {
    color: #fff;
    text-align: center;
    font-family: 'g-demibold';
    font-size: 32px;
    margin-bottom: 15px;
}

.info-details ul {
    padding: 0px;
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.info-details ul li {
    color: #fff;
    line-height: 31px;
    font-size: 16px;
}

section.faq-section {
    padding: 30px 0;
}

section.faq-section h3 {
    text-align: center;
    margin: 0 0 30px;
    font-size: 32px;
    font-family: 'g-regular';
}

section.faq-section .faq-info {
    max-width: 640px;
    margin: 0 auto 0px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;
}

section.faq-section .faq-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section.faq-section .faq-info ul li h4 {
    font-size: 16px;
    color: #5D656B;
}

section.faq-section .faq-info ul li p {
    font-size: 16px;
    color: #5D656B;
}

.more-info-shipping {
    max-width: 640px;
    margin: 30px auto 20px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 50px
}

.more-info-shipping h4 {
    font-size: 15px;
    color: #5D656B;
}

.more-info-shipping p {
    font-size: 14px;
    color: #5D656B;
}

.note-info-center {
    max-width: 500px;
    border: 1px solid #0000002e;
    padding: 20px;
    margin: 60px auto 0;
}

.note-info-center p {
    font-size: 12px;
    color: #5D656B;
    margin: 0;
}

.review-wrapper {
    padding: 10px;
}

.review-wrapper .reviews-image {
    width: 100%;
    float: left;
}

.review-wrapper .review-data {
    float: left;
    width: 100%;
    margin: 12px 0 0 0;
}

.review-wrapper .review-data h5,.review-wrapper .review-data h5 a {
    font-size: 15px;
    margin: 0 0 0 0;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#000;
}
.review-wrapper .review-data h5 a:hover
{
text-decoration: none;
color:#1cb1c5;
}

.review-wrapper .review-data .reviews-product {
    display: flex;
    align-items: center;
}

.review-wrapper .review-data .reviews-product ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0;
}

.review-wrapper .review-data .reviews-product p {
    font-size: 12px;
    margin: 2px 0 0 4px;
}

.review-wrapper .review-data .reviews-product ul li i {
    font-size: 11px;
}

.slider-product-reviews {
    position: relative;
    margin: 0 0 40px 0;
}


section.reviews-section {
    padding: 10px 0 0 0;
}

section.reviews-section h3 {
    text-align: center;
    margin: 0 0 30px;
    font-size: 32px;
    font-family: 'g-regular';
}